
.linkName {
    text-decoration: none;
    color: rgb(44, 44, 44);   
}
.dropdown-item {
    background-color: transparent !important;
}
.navBar{
    width: 100%;
    /* position: fixed;
    z-index: 1; */
}
