.table1 {
    width: 100%;

}
.btnQuitar{
    font-size: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    border-color: red;
}
table th {
  text-align: center;
}
table tr {
    text-align: center;
}
.cartRemove{
    cursor: pointer;
}
